<div class="container">
  <div calss="row">
    <h1 class="text-center">Clothesgram</h1>
    <p class="text-center">
      ようこそClothesgramへ！<br>
      Clothesgramはファッション系のコミュニティサイトです。<br>
      様々な系統のファッションアイテムを共有、発見できます。<br>
      あなたも自分の好きなファッションアイテムを共有、発見してみませんか？<br>
    </p>

    <div class="btn-wrapper col-8 mx-auto">
      <div class="row">
        <%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
      </div>
      <div class="row">
        <%= link_to 'ログイン',new_member_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
      </div>
      <div class="row">
        <%= link_to '新規登録',new_member_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
      </div>
    </div>
  </div>
</div>